<h1>History</h1>
<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

<%= link_to "New", new_resume_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Name</th>
    <th>Predicted Label</th>
    <th>True Label</th>
    <th>View</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @resumes.each do |resume| %>

    <tr>
      <td><%= resume.name %></td>
      <td><%= resume.true_label %></td>
      <td><%= resume.pred_label %></td>
      <td><%= link_to "Download", resume.attachment_url %></td>
      <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
    </tr>

  <% end %>
  </tbody>
</table>